.search-section{
    margin:30px auto;
    width:90%;
}

.search-box{
    display:flex;
    gap:10px;
    margin-top:10px;
}

.search-box input{
    flex:1;
    padding:12px;
}

.search-box button{
    padding:12px 20px;
    cursor:pointer;
}
body.dark input{

    background:#2b2b2b;

    color:white;

}

body.dark input::placeholder{

    color:#cccccc;

}