.search-section{
    width:100%;

    max-width:1280px;

    box-sizing:border-box;
    height:170px;

    background:#fff;

    border-radius:30px;

    padding:28px;

    box-shadow:0 10px 35px rgba(0,0,0,.08);

    margin-bottom:32px;
}

.search-section h3{
    margin-bottom:18px;
}

.search-box{
    display:flex;
    gap:18px;
}

.search-input{

    flex:1;

    display:flex;

    align-items:center;

    background:#eef9ff;

    border-radius:40px;

    padding:0 20px;

    border:2px solid transparent;

    transition:.3s ease;

}
.search-input:focus-within{

    border:2px solid #1198d4;

    box-shadow:
    0 0 0 4px rgba(17,152,212,.20);

}
.search-icon{
    font-size:22px;
    color:#666;
}

.search-input input{
    width:100%;
    border:none;
    outline:none;
    background:transparent;
    padding:18px;
    font-size:18px;
}

.search-box button{
    width:120px;
    border:none;
    border-radius:40px;
    background:#1198d4;
    color:#fff;
    font-size:18px;
    cursor:pointer;
}
.search-box button:focus{

    outline:none;

    box-shadow:
    0 0 0 4px rgba(17,152,212,.25);

}

.powered{
    margin-top:15px;
    color:#64748b;
}
.sr-only{

    position:absolute;

    width:1px;

    height:1px;

    padding:0;

    margin:-1px;

    overflow:hidden;

    clip:rect(0,0,0,0);

    white-space:nowrap;

    border:0;

}

@media(max-width:600px){

.search-section{

    height:auto;

    padding:20px;

}


.search-box{

    flex-direction:column;

}


.search-box button{

    width:100%;

    height:50px;

}

}