.favorites{
    margin-top:30px;
}

.favorite-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.favorite-header button{

    background:#2563eb;

    color:white;

    border:none;

    padding:10px 18px;

    border-radius:8px;

    cursor:pointer;

}

.favorites ul{

    list-style:none;

}

.favorites li{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:10px;

    background:#f5f5f5;

    padding:12px;

    border-radius:8px;

}
body.dark .favorites{

    color:white;

}

body.dark .favorites li{

    background:#2b2b2b;

}
.favorites li button{

    background:red;

    color:white;

    border:none;

    border-radius:5px;

    padding:5px 10px;

    cursor:pointer;

}